<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <label>
        <input type="text" placeholder="Title..." [(ngModel)]="todoTitle">
      </label>
    </div>
    <button class="btn" (click)="addTodo()">Add</button>
    <button class="btn" (click)="fetchTodos()">Load</button>
  </div>

  <hr>

  <div *ngIf="!loading; else spinner">
    <div class="container" *ngIf="todos.length; else noValues">
      <div class="card"  *ngFor="let todo of todos">
        <p>
          <span [class.completed]="todo.completed">{{todo.title}}</span>
          <span>
        <button class="btn btn-danger" (click)="remove(todo.id)">Delete</button>
        <button class="btn" (click)="completed(todo.id)" [disabled]="todo.completed">Done</button>
        </span>
        </p>
      </div>
    </div>
    <ng-template #noValues >
      <p>No tasks in a list</p>
    </ng-template>
  </div>
  <ng-template #spinner>
    <p>{{loader}}</p>
  </ng-template>
</div>
